<!DOCTYPE html>
<html>
  {% include 'common/head.html' %}
  <body>
    <main>
      {% include 'common/sidebar.html' %}
      <div class="body">
        {% include 'common/menu.html' %}
        <div style='background: rgb(248, 249, 250); height: 100%;'>
          <div style='background: rgb(255, 255, 255); border: none; border-radius: 40px 0px 0px; height: 100%;'>
          <div class='content' style='text-align: left;'>
            <!-- start here -->
            <div class="my-3 p-3 bg-body rounded shadow-sm padding:30px">
              <!-- hardware -->
              <h6 class="border-bottom pb-2 mb-0">System Info</h6>
              <div class="d-flex text-muted pt-3">
                <svg class="bi flex-shrink-0 me-2 rounded" width="32" height="32" role="img" aria-label="Hardware"><use xlink:href="#mainboard"/></svg>
                <p class="pb-3 mb-0 small lh-sm">
                  <strong class="d-block text-gray-dark">Hardware</strong>
                  💻 CPU: {{ hardware['cpu'] }} #️⃣ CPU COUNT: {{ hardware['cpu_count'] }}<br>
                  ⭐ TOTAL RAM: {{ hardware['ram_total'] }} 🔥 Used : {{ hardware['ram_used'] }} 🧊 Free: {{ hardware['ram_free'] }}<br>
                </p>
              </div>

              <!-- software -->
              <div class="d-flex text-muted pt-3">
                <svg class="bi flex-shrink-0 me-2 rounded" width="32" height="32" role="img" aria-label="Software"><use xlink:href="#window"/></svg>
                <p class="pb-3 mb-0 small lh-sm">
                  <strong class="d-block text-gray-dark">Software</strong>
                  🍒 CherryNas: {{ software['cherrynas version'] }}<br>
                  💾 OS: {{ software['os'] }}<br>
                </p>
              </div>

              <!-- disk info -->
              <div class="d-flex text-muted pt-3">
                <svg class="bi flex-shrink-0 me-2 rounded" width="32" height="32" role="img" aria-label="Disk Info"><use xlink:href="#hdd"/></svg>
                <p class="pb-3 mb-0 small lh-sm">
                  <strong class="d-block text-gray-dark">Disk</strong>
                  🖴 HDD Info : {{ disk['info'] }} <br>
                </p>
              </div>

              <!-- site info -->
              <div class="my-3 p-3 bg-body rounded shadow-sm">
                <h6 class="border-bottom pb-2 mb-0">Site Info</h6>
                <!-- alarms -->
                {% if alarm %}
                <div class="d-flex text-muted pt-3">
                  <svg class="bi flex-shrink-0 me-2 rounded" width="32" height="32" role="img" aria-label="Alarms"><use xlink:href="#bell"/></svg>
                  <p class="pb-3 mb-0 small lh-sm border-bottom">
                    <strong class="d-block text-gray-dark"></strong>
                    {{ alarm }}
                  </p>
                </div>
                {% endif %}

                <!-- login users -->
                <div class="d-flex text-muted pt-3">
                  <svg class="bi flex-shrink-0 me-2 rounded" width="32" height="32" role="img" aria-label="Login Users"><use xlink:href="#people"/></svg>
                  <p class="pb-3 mb-0 small lh-sm border-bottom">
                    <strong class="d-block text-gray-dark">Login Users</strong>
                    {{ login_user }}
                  </p>
                </div>

                <!-- logs -->
                <div class="d-flex text-muted pt-3">
                  <svg class="bi flex-shrink-0 me-2 rounded" width="32" height="32" role="img" aria-label="Log"><use xlink:href="#journal-text"/></svg>
                  <p class="pb-3 mb-0 small lh-sm border-bottom">
                    <strong class="d-block text-gray-dark">Logs</strong>
                    {% for item in logs %}
                    {{ item }} <br>
                    {% endfor %}
                  </p>
                </div>
              </div>
            </div>
            <!-- end here -->

          </div>
        </div>
      </div>
    </main>
  </body>

  <!-- script here -->
  <script src="/static/bootstrap/js/bootstrap.bundle.js"></script>
  <script src="/static/js/sidebars.js"></script>
</html>