<!DOCTYPE html>
<html>
  {% include 'common/head.html' %}
  <body>
    <main>
      {% include 'common/sidebar.html' %}
      <div class="body">
        {% include 'common/menu.html' %}
        <div style='background: rgb(248, 249, 250); height: 100%;'>
          <div style='background: rgb(255, 255, 255); border: none; border-radius: 40px 0px 0px; height: 100%;'>
            <!-- start here -->
            <div style="padding:20px;">
              <h2>Member List</h2>
              <div class="table-responsive">
                <table class="table table-striped table-sm">
                  <thead>
                    <tr>
                      <th scope="col">✔️</th>
                      <th scope="col">email</th>
                      <th scope="col">nick name</th>
                      <th scope="col">joined</th>
                      <th scope="col">permission</th>
                      <th scope="col">menu</th>
                      <th scope="col">+/-</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for member in member_list %}
                    <tr>
                      <td><input type="checkbox" id="{{ member.email }}" name="select"></td>
                      <td>{{ member.email }}</td>
                      <td>{{ member.nick_name }}</td>
                      <td><input type="checkbox" id="joined-{{ member.email }}" name="joined" {% if member.joined %} checked {% endif %}></td>
                      <td id="perm-{{ member.email }}">{{ member.permission }}</td>
                      <td>
                        <select id="option-{{ member.email }}">
                          <option value="none">=== select ===</option>
                          <option value="all" selected>all</option>
                          <option value="image" >image</option>
                          <option value="music">music</option>
                          <option value="movie">movie</option>
                          <option value="book">book</option>
                        </select>
                      </td>
                      <td>
                        <button id="{{ member.id }}" name="button" onclick="add_permission('{{ member.email }}');">+</button> /
                        <button id="{{ member.id }}" name="button" onclick="remove_permission('{{ member.email }}');">-</button>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>

                <!-- form start -->
                <div style='text-align:right'>
                  <form action="/admin/" method="post">
                    {{ form.hidden_tag() }}
                    <input type="text" id="data" name="data" hidden>
                    <button type="submit" class="btn btn-primary mb-3" style="width:100px" onclick="send_delete();">Delete</button>
                    <button type="submit" class="btn btn-primary mb-3" style="width:100px" onclick="send_apply();">Apply</button>
                  </form>
                </div>
                <!-- form end -->

              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>

  <!-- script here -->
  <script src="/cherry/static/bootstrap/js/bootstrap.bundle.js"></script>
  <script src="/cherry/static/js/sidebars.js"></script>
  <script>
    function send_delete() {
      let member = []  
      try {
        delete_list = $("input[name='select']").toArray();
        delete_list.forEach(element => {
          if (element.checked) member += element.id;
        });
      }
      catch (error) {
        console.log("send_delete" + error);
      }

      let json_data = { "action": "delete", "member" : member };
      delete_data = JSON.stringify(json_data) 
      // set data value
      $('#data').val(delete_data);
      //debug:alert(delete_data);
    }

    function send_apply() {
      let apply_data;
      try {
        let items = Array();
        apply_list = $("input[name='select']").toArray();
        apply_list.forEach(element => {
          if (element.checked) {
            let email = element.id;
            let joined = $("input[id='joined-"+ email + "']")[0].checked;
            let permission = $("td[id='perm-"+ email + "']").text();
            let item = {"email" : email, "permission" : permission, "joined" : joined };
            items.push(item)
          }
        });
        apply_data = {"action":'apply', "changes": items };
      }
      catch (error) {
        console.log("send_apply" + error);
      }
      // set data value
      $('#data').val(JSON.stringify(apply_data));
      //debug:alert(apply_data);
    }

    function add_permission(email) {
      let permission = $("td[id='perm-"+ email + "']");
      let permission_text = permission.text();
      let option = $("select[id='option-"+ email + "']");
      let option_text = option.val()
      if (permission_text.indexOf(option_text) === -1) {
        permission_text += ' | ' + option_text;
        permission.html(permission_text);
      }
    }

    function remove_permission(email) {
      let permission = $("td[id='perm-"+ email + "']");
      let permission_text = permission.text();
      let option = $("select[id='option-"+ email + "']");
      let option_text = option.val()
      if (permission_text.indexOf(option_text) !== -1) {
        let perm_list = permission_text.split('|');
        let delete_list = []
        permission_text.split('|').forEach(
          item => {
            if (item.trim() !== '' && item.trim() != option_text) {
              delete_list.push(item);
            }              
          }
        );
        
        let edited_permission_text = get_list_text(delete_list);

        if (edited_permission_text.trim() == '')
          edited_permission_text = 'all'
        permission.html(edited_permission_text);
      }

      function get_list_text(list_item) {
        let list_text = '';
        list_item.forEach(
          function(i, idx, array){
            if (idx === array.length - 1){ 
                list_text += i;
            } else {
                list_text += i + ' | ';
            }
          }
        );
        return list_text;
      }
    }
  </script>
</html>