<!DOCTYPE html>
<html>
  {% include 'common/head.html' %}
  <body>
    <main>
      {% include 'common/sidebar.html' %}
      <div class="body">
        {% include 'common/menu.html' %}
        <div style='background: rgb(248, 249, 250); height: 100%;'>
          <div style='background: rgb(255, 255, 255); border: none; border-radius: 40px 0px 0px; height: 100%;'>
            <!-- start here -->
            <div id="upload_dialog" title="Basic dialog">
              <p>This is the default dialog which is useful for displaying information.</p>
            </div>
            <div class='content'>
              <ol id="selectable" id="draggable">
                {% for file in files %}
                <li class="double_click ui-state-default" title="{{ file[0] }} &#10; Size : {{ file[2] }}">
                  <svg class="bi" width="36" height="36" role="img" aria-label="{{ file[0] }}"><use xlink:href="#{{file[1]}}"/></svg>
                  <br/>
                  <div style="overflow: hidden;">{{file[0]}}</div>
                </li>
                {% endfor %}
              </ol>
            </div>
            <!-- end here -->
          </div>
        </div>
      </div>
    </main>
  </body>
  {% include 'common/deferred_js.html' %}
  <script src="/cherry/static/js/explorer.js"></script>
  <script src="/cherry/static/js/download.js"></script>
  <script src="/cherry/static/js/upload.js"></script>
</html>