<!DOCTYPE html>
<html>
  {% include 'common/head.html' %}
  <body>
    <main>
      {% include 'common/sidebar.html' %}
      <div class="body">
        {% include 'common/menu.html' %}
        <div style='background: rgb(248, 249, 250); height: 100%;'>
          <div style='background: rgb(255, 255, 255); border: none; border-radius: 40px 0px 0px; height: 100%;'>
            <!-- start here -->
            <div class='content'>


              <!-- Button trigger modal -->
              <ol id="selectable" id="draggable">
                {% for file in files %}
                <li class="double_click ui-state-default" title="{{ file[0] }} &#10; Size : {{ file[2] }}">
                  <svg class="bi" width="36" height="36" role="img" aria-label="{{ file[0] }}"><use xlink:href="#{{file[1]}}"/></svg>
                  <br/>
                  <div style="overflow: hidden;">{{file[0]}}</div>
                </li>
                {% endfor %}
              </ol>
            </div>
            <!-- end here -->
            <!-- dialog start -->
            <div id="upload_dialog" title="Upload Dialog">
              <iframe src="/cherry/explorer/upload" style="overflow:hidden;width:100%;height:500px;"></iframe>
            </div>

            <div id="name_dialog" title="Dialog">
              <div style="margin: 5px;">
                <label id="name_dialog_label" for="file_folder_name" class="form-label">title</label>
                <input type="text"  class="form-control" id="file_folder_name" placeholder="please enter your new name">
                <br>
                <button class="w-100 btn btn-primary btn-lg" type="submit" onclick="javascript:closeNameDialog();">Change</button>
              </div>
            </div>

            <div id="error_msg" style="display:none; position:absolute; top:0px; left:0px; width:100%; height:100%">
              <div class="modal modal-sheet position-static d-block py-5" tabindex="-1" role="dialog" id="modalSheet">
                <div class="modal-dialog" role="document">
                  <div class="modal-content rounded-4 shadow">
                    <div class="modal-header border-bottom-0">
                      <h5 id="error_msg_title" class="modal-title">Modal title</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                        onclick="javascript:close_error_dialog();"></button>
                    </div>
                    <div id="error_msg_content" class="modal-body py-0">
                      <p>This is a modal sheet, a variation of the modal that docs itself to the bottom of the viewport like the newer share sheets in iOS.</p>
                    </div>
                    <div class="modal-footer flex-column border-top-0">
                      <button type="button" class="btn btn-lg btn-primary w-100 mx-0 mb-2" onclick="javascript:close_error_dialog();">Close</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- dialog end -->
          </div>
        </div>
      </div>
    </main>
  </body>
  {% include 'common/deferred_js.html' %}
  <script src="/cherry/static/js/explorer.js"></script>
  <script src="/cherry/static/js/download.js"></script>
  <script src="/cherry/static/js/upload.js"></script>
</html>