<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/cherry/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/cherry/static/jquery-ui/jquery-ui.css" rel="stylesheet">
    <script src="/cherry/static/jquery/jquery-3.6.0.min.js"></script>
    <script src="/cherry/static/jquery-ui/jquery-ui.js"></script>
    <script src="/cherry/static/js/axios.min.js"></script>
    <script src="/cherry/static/js/jquery.form.min.js"></script>
    <script src="/cherry/static/js/upload.js"></script>

    <title>🍒 Dialog</title>
    <style>
      .bg-light {
        background-color:white !important;
      }
    </style>
  </head>
  <body>
    <div style="margin: 5px;">
      <label for="file_folder_name" class="form-label">{{ title }}</label>
      <input type="text" class="form-control" id="file_folder_name" placeholder="please enter your new name">
      <br>
      <button class="w-100 btn btn-primary btn-lg" type="submit">{{ title }}</button>
    </div>
  </body>
</html>