<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/cherry/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/cherry/static/jquery-ui/jquery-ui.css" rel="stylesheet">
    <script src="/cherry/static/jquery/jquery-3.6.0.min.js"></script>
    <script src="/cherry/static/jquery-ui/jquery-ui.js"></script>
    <script src="/cherry/static/js/axios.min.js"></script>
    <script src="/cherry/static/js/jquery.form.min.js"></script>
    <script src="/cherry/static/js/upload.js"></script>

    <title>🍒 Upload files</title>
    <style>
      .bg-light {
        background-color:white !important;
      }
    </style>
  </head>

  <body class="bg-light" style="height:480px">
    <div class="bd-cheatsheet container-fluid bg-body">
      <br/>
      <form id="uploadImage" action="http://172.23.225.235:8812/cherry/explorer/uploadFile" method="post" enctype="multipart/form-data">
        <!-- file choose -->
        <div class="mb-3">
          <input type="file" id="uploadFiles" class="form-control" multiple onchange="javascript:updateInputFiles();">
        </div>
        <!-- drop zone -->
        <div id='dropZone' class="container alert alert-dark" >
              Drag file here!!
        </div>
        <!-- submit button -->
        <div align="right">
          <button type="button" class="btn btn-primary" onclick="javascript:clearList();">Clear</button>
          <button type="submit" class="btn btn-primary" onclick="javascript:submitFiles();">Submit</button>
        </div>
        <br/>
        <!-- drop zone -->
        <div align='center' style="overflow-x:hidden;overflow:auto;height:250px;">
          <table id="uploadList" class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">File Name</th>
                <th scope="col">Size</th>
                <th scope="col">Upload</th>
              </tr>
            </thead>
            <tbody id="updload_tbody">
            </tbody>
          </table>
        </div>
      </form>
    </div>
  </body>
</html>


