<!DOCTYPE html>
<html>
  {% include 'common/head.html' %}
  <body>
    <main>
      {% include 'common/sidebar.html' %}
      <div class="body">
        {% include 'common/menu.html' %}
        <div style='background: rgb(248, 249, 250); height: 100%;'>
          <div style='background: rgb(255, 255, 255); border: none; border-radius: 40px 0px 0px; height: 100%;'>
            <!-- start here -->
            <div style="padding:20px;">
              <h2>Member List</h2>
              <div class="table-responsive">
                <table class="table table-striped table-sm">
                  <thead>
                    <tr>
                      <th scope="col">allowed</th>
                      <th scope="col">email</th>
                      <th scope="col">nick name</th>
                      <th scope="col">permission</th>
                      <th scope="col">menu</th>
                      <th scope="col">+/-</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><input type="checkbox" name="xxx" value="yyy" checked></td>
                      <td>fnwinter@gmail.com</td>
                      <td>JJ</td>
                      <td>music/image</td>
                      <td>
                        <form>
                          <select name="language">
                            <option value="none">=== select ===</option>
                            <option value="image" selected>image</option>
                            <option value="music">music</option>
                            <option value="movie">movie</option>
                            <option value="book">book</option>
                          </select>
                        </form>
                      </td>
                      <td><button name="button">+</button> - <button name="button">-</button></td>
                    </tr>
                  </tbody>
                </table>

                <div style='text-align:right'>
                  <form action="/admin/" method="post">
                    {{ form.hidden_tag() }}
                    <input type="text" id="data" name="data" hidden>
                    <button type="submit" class="btn btn-primary mb-3" style="width:500px" onclick="save_cookie();">Apply</button>
                  </form>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>

  <!-- script here -->
  <script src="/static/bootstrap/js/bootstrap.bundle.js"></script>
  <script src="/static/js/sidebars.js"></script>
</html>