<!DOCTYPE html>
<html>
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.css">
      <link href="/static/bootstrap/css/sidebars.css" rel="stylesheet">
      <title>🍒 Cherry NAS server</title>
  </head>
  <body>
    {% include 'common/header.html' %}
    <main class=row>

      <div class="row">
        <div class="side">
          {% include 'common/sidebar.html' %}
        </div>
        <div class="main">
          {% if email %}
          loggined in {{ email }}
          <a href="/logout">logout</a>
          {% endif %}
        </div>
      </div>

    </main>

    <!-- Footer -->
    <div class="footer">
      <h2>Footer</h2>
    </div>
  </body>
</html>