<!DOCTYPE html>
<html>
  {% include 'common/head.html' %}
  <body>
    <main>
      {% include 'common/sidebar.html' %}
      <div class="body">
        {% include 'common/menu.html' %}
        <div style='background: rgb(248, 249, 250); height: 100%;'>
          <div style='background: rgb(255, 255, 255); border: none; border-radius: 40px 0px 0px; height: 100%;'>
            <!-- start here -->
            <div class='content'>
              <ol id="selectable" id="draggable">
                {% for file in files %}
                <li class="double_click ui-state-default" title="{{file[0]}}">
                  <svg class="bi" width="24" height="24" role="img" aria-label="{{file[0]}}"><use xlink:href="#{{file[1]}}"/></svg>
                  <br/>
                  <div style="overflow: hidden;">{{file[0]}}</div>
                </li>
                {% endfor %}
              </ol>
            </div>
            <!-- end here -->
          </div>
        </div>

      </div>
    </main>
  </body>
  <script src="/static/bootstrap/js/bootstrap.bundle.js"></script>
  <script src="/static/js/sidebars.js"></script>
  <script>
    $( function() {
      $( "#draggable" ).draggable();
    });

    var selected_items = [];
    $( function() {
      $( "#selectable" ).selectable({
        start: function( event, ui ) {
          selected_items = [];
        },
        selected: function(event, ui) {
          selected_items.push($(ui.selected).text());
        }       
      });
    });

    function get_selected_items()
    {
      let tmp = []
      for (let i in selected_items)
      {
        let item = selected_items[i];
        if (item.trim() == '') continue;
        tmp.push(item.trim());
      }
      let removeDuplicates = new Set(tmp);
      selected_items = [ ...removeDuplicates ];
      return selected_items
    }

    $('#selectable').selectable({ 
      cancel: '.ui-selected'
    });

    $('.ui-selected').on('click', function() {
      $(this)
        .removeClass('ui-selected')
        .parents('.ui-selectable')
        .trigger('selectablestop');
    });

    $( function() {
      $( "li.double_click" ).dblclick(function(object) {
        let double_clicked_item = object.target.textContent.trim()
        console.log(double_clicked_item)
      });
    } );
  </script>
</html>