<div>
  <header class="p-3 bg-light">
    <div>
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        {% if ( url_for(request.endpoint) == "/") %}
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="#" class="nav-link px-2 link-secondary">About</a></li>
        </ul>
        {% elif ( url_for(request.endpoint) == "/explorer/") %}
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="#" class="nav-link px-2 link-secondary">New Folder</a></li>
          <li><a href="#" class="nav-link px-2 link-dark">Copy</a></li>
          <li><a href="#" class="nav-link px-2 link-dark">Paste</a></li>
          <li><a href="#" class="nav-link px-2 link-dark">Delete</a></li>
          <li><a href="#" class="nav-link px-2 link-dark">Rename</a></li>
          <li><a href="#" class="nav-link px-2 link-dark">View</a></li>
          <li><a href="#" class="nav-link px-2 link-dark">Download</a></li>
        </ul>
        {% endif %}

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
          <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
        </form>

        <div class="dropdown text-end">
          <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
          </a>
          <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
            <li><a class="dropdown-item" href="#">New project...</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Sign out</a></li>
          </ul>
        </div>
      </div>
    </div>
  </header>
</div>