<div class="d-flex flex-column flex-shrink-0 bg-light" style="width: 4.5rem;">
  <a href="/" class="d-block p-3 link-dark text-decoration-none" title="CherryNas" data-bs-toggle="tooltip" data-bs-placement="right">
    <h2>🍒<h2>
  </a>
  <!-- menu start -->
  <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
    <li class="nav-item">
      <a href="/" id="my_computer" class="nav-link py-3 border-bottom" aria-current="page" title="My Computer" data-bs-toggle="tooltip" data-bs-placement="right">
        <svg class="bi" width="24" height="24" role="img" aria-label="My Computer"><use xlink:href="#my_pc"/></svg>
      </a>
      <a href="/explorer" id="explorer" class="nav-link py-3 border-bottom" aria-current="page" title="Explorer" data-bs-toggle="tooltip" data-bs-placement="right">
        <svg class="bi" width="24" height="24" role="img" aria-label="Explorer"><use xlink:href="#folder"/></svg>
      </a>
      <a href="/image" id="explorer" class="nav-link py-3 border-bottom" aria-current="page" title="Image" data-bs-toggle="tooltip" data-bs-placement="right">
        <svg class="bi" width="24" height="24" role="img" aria-label="Image"><use xlink:href="#image"/></svg>
      </a>
      <a href="/movie" id="explorer" class="nav-link py-3 border-bottom" aria-current="page" title="Movie" data-bs-toggle="tooltip" data-bs-placement="right">
        <svg class="bi" width="24" height="24" role="img" aria-label="Image"><use xlink:href="#movie"/></svg>
      </a>
      <a href="/music" id="explorer" class="nav-link py-3 border-bottom" aria-current="page" title="Music" data-bs-toggle="tooltip" data-bs-placement="right">
        <svg class="bi" width="24" height="24" role="img" aria-label="Music"><use xlink:href="#music"/></svg>
      </a>
      <a href="/book" id="explorer" class="nav-link py-3 border-bottom" aria-current="page" title="Book" data-bs-toggle="tooltip" data-bs-placement="right">
        <svg class="bi" width="24" height="24" role="img" aria-label="Image"><use xlink:href="#book"/></svg>
      </a>
    </li>
  </ul>
  <!-- menu end -->
</div>