<!DOCTYPE html>
<html>
    {% include 'common/center.html' %}
    <body>
        <div class="container" style='width:500px'>
            <div style="width:500px">
            <h3>🍒 Cherry NAS / Login</h3>
            <br/>
                <form action="/login/" method="post">
                    {{ form.hidden_tag() }}
                    <label for="email" class="form-label">E-Mail</label>
                    <input type="text" class="form-control" id="email" name="email">
            
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" name="password" id="password" ><br/>
            
                    <input class="form-check-input" type="checkbox" name='rememberme' id="rememberme">
                    <label class="form-check-label" for="flexCheckDefault">Remember Me</label><br/><br/>
            
                    <button type="submit" class="btn btn-primary mb-3" style="width:500px">Login</button><br>
                </form>
                <button onclick="window.location.href = '/signup'" class="btn btn-secondary mb-3" style="width:500px">
                    Sign up
                </button>
                <button onclick="window.location.href = '/reset_password'" class="btn btn-secondary mb-3" style="width:500px">
                    Reset Password
                </button>
            </div>        
        </div>
    </body>
</html>