    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" href="/cherry/static/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="/cherry/static/css/grid.css">
        <script type="text/javascript" src="/cherry/static/jquery/jquery-3.6.0.min.js"></script>
        <script type="text/javascript" src="/cherry/static/jquery/jquery.cookie.js"></script>
        <title>🍒 Cherry NAS server</title>
        <style>
            .container {
                position: absolute;
                top: 50%;
                left: 50%;
                -moz-transform: translateX(-50%) translateY(-50%);
                -webkit-transform: translateX(-50%) translateY(-50%);
                transform: translateX(-50%) translateY(-50%);
            }
        </style>
    </head>
