<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/x-icon" href="/cherry/static/images/favicon.ico">

    <link href="/cherry/static/css/headers.css" rel="stylesheet">
    <link href="/cherry/static/css/sidebars.css" rel="stylesheet">
    <link href="/cherry/static/css/common.css" rel="stylesheet">
    <link href="/cherry/static/css/contents.css" rel="stylesheet">

    <link href="/cherry/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <script src="/cherry/static/jquery/jquery-3.6.0.min.js"></script>
    <link href="/cherry/static/jquery-ui/jquery-ui.css" rel="stylesheet">
    <script src="/cherry/static/jquery-ui/jquery-ui.js"></script>
      <script src="/cherry/static/js/axios.min.js"></script>

    <title>🍒 Cherry NAS server</title>
    {% include 'common/svg.html' %}
  </head>

  <body>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            ...
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
