<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="/cherry/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/cherry/static/css/headers.css" rel="stylesheet">
  <link href="/cherry/static/css/sidebars.css" rel="stylesheet">
  <link href="/cherry/static/css/common.css" rel="stylesheet">
  <link href="/cherry/static/css/contents.css" rel="stylesheet">
  <script src="/cherry/static/jquery/jquery-3.6.0.min.js"></script>
  <script src="/cherry/static/jquery-ui/jquery-ui.js"></script>
  <script src="/cherry/static/js/axios.min.js"></script>
  <link rel="stylesheet" href="/cherry/static/jquery-ui/jquery-ui.css">
  <title>🍒 Cherry NAS server</title>
  {% include 'common/svg.html' %}
</head>