<div>
  <header class="p-3 bg-light">
    <div>
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        {% if (url_for(request.endpoint) == "/cherry/explorer/") %}
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="#" class="nav-link px-2 link-dark">New Folder</a></li>
          <li><a href="#" class="nav-link px-2 link-dark">Copy</a></li>
          <li><a href="#" class="nav-link px-2 link-dark">Paste</a></li>
          <li><a href="#" class="nav-link px-2 link-dark">Delete</a></li>
          <li><a href="#" class="nav-link px-2 link-dark">Rename</a></li>
          <li><a href="#" class="nav-link px-2 link-dark">View</a></li>
          <li><a href="#" class="nav-link px-2 link-dark">Upload</a></li>
          <li><a href="javascript:downloadURI('/cherry/explorer/download')" class="nav-link px-2 link-dark">Download</a></li>
        </ul>
        {% else %}
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="#" class="nav-link px-2 link-secondary">About</a></li>
          <li><a href="#" class="nav-link px-2 link-secondary">History</a></li>
          <li><a href="#" class="nav-link px-2 link-secondary">Licence</a></li>
        </ul>
        {% endif %}

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
          <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
        </form>

        <div class="dropdown text-end">
          <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <svg class="bi" width="24" height="24" role="img" aria-label="Image"><use xlink:href="#person-circle"/></svg>
          </a>
          <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/cherry/logout">Sign out</a></li>
          </ul>
        </div>
      </div>
    </div>
  </header>
</div>